extends layout

block content
    h1 Add a book genre:
    form(action="" method="post")
        if errors
                ul
                    each error in errors
                        li(class="text-danger")= error.message
        table
            tr
                td
                    label(for="name") Genre name
                td
                    input(type="text" name="name" placeholder="e.g. Fantasy" value=name required)
            tr
                td
                    input(type="submit" value="Save")