extends layout

block content
    div(class="template-content")
        h1 Author list page
        if authors.length
            ul
                each author in authors
                    li
                        a(href=author.url)= author.name
        else
            p No authors to display.