$extra-small: 575px;
$small: 768px;
$medium: 991px;
$large: 1199px;

html {
    margin:0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding:0;
    height: 100vh;
    position: relative;

    font-family: sans-serif;
    background-image: linear-gradient(120deg, orange, orangered);
}
a, a:hover, a:visited, a::before, a::after {
    list-style: none;
    text-decoration: none;
}
a {
    color: orangered;
    transition: 0.3s;
}
a:hover {
    color: rgb(119, 33, 2);
    text-decoration-line: underline;
}

.loadscreen {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(120deg, orange, orangered);
}

.header-banner {
    background-image: url(../images/books.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 250px;
    width: 100%;

    color: white;
    text-shadow: 1px 1px 4px black;

    .title-header {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 8px;
        font-size: 3em;

        .login {
            position: absolute;
            top:2rem;
            right: 2rem;
            box-shadow: 2px 2px 4px rgb(53, 53, 53);
            padding: 5px 0px 5px 0px;

            font-size: 0.4em;
            letter-spacing: normal;
            transition: all 300ms;
            cursor: pointer;

            a, a:hover, a:visited {
                padding: 5px 10px 5px 10px;
                margin-right: 5px;
                color: white;
                text-decoration-line: none;
                background-color: black;
                
                &:hover {
                    background-color: rgb(2, 2, 46);
                }
            }

        }
        i {
            color: orangered;
        }
        h1 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 900;
        }
    }
}

.container-fluid {
    margin-top: 20px;
}
.nav-menu, .content {
    padding: 2rem;
    background-color: #ecf0f1;
    @media screen and (max-width: $small) {
        border-top-right-radius: 150px;
    }
}
.content {
    border-top-right-radius: 150px;

    @media screen and (max-width: $small) {
        border-top-right-radius: 0px;
    }
}
.sidebar-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-top: 20px;
    list-style: none;
    li {
        font-size: 0.95em;
        @media screen and (max-width: $small) {
            font-size: 1.2em;
        }
    }
}
.content {
    position: relative;

    .form-container {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 65%;

        h1 {
            color: orangered;
        }

        @media screen and (max-width: $small){
            width: 100%;
        }
    }

    #search-input * {
        border-radius: 0px;
        .input-group-text {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }
        i {
            color: orangered;
        }
        
    }
    .search-btn {
        border-top-right-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
        background-color: rgb(253, 90, 31);
        border: none;
        &:hover {
            background-color: rgb(255, 68, 0);
        }
    }
}